<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="/formAction">
		<input type="text" name="title">
		<input type="text" name="description">
		<input type="submit" />
	</form>
</body>
</html>